#container {
	text-align: center;
	margin-top: 50px;
}

h1 {
	font-size: 50px;
	color: #ff69b4;
}

#botao {
	font-size: 25px;
	padding: 10px 20px;
	background-color: #ff69b4;
	border: none;
	color: white;
	cursor: pointer;
}

#botao:hover {
	background-color: #ff1493;
}

#resposta {
	font-size: 30px;
	margin-top: 50px;
}
